{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    <div class="class container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Créer un compte</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">

                {# Ouverture du formulaire #}
                {{ form_start( registrationForm ) }}

                    {# Affichage des erreurs générales du formulaire #}
                    {{ form_errors( registrationForm )}}

                    {# Champ pseudo #}
                    {{ form_row( registrationForm.pseudo )}}

                    {# Champ nom #}
                    {{ form_row( registrationForm.last_name )}}

                    {# Champ prénom #}
                    {{ form_row( registrationForm.first_name )}}

                    {# Champ téléphone #}
                    {{ form_row( registrationForm.phone )}}

                    {# Champ email #}
                    {{ form_row( registrationForm.email )}}

                    {# Champ mot de passe #}
                    {{ form_row( registrationForm.plainPassword ) }}

                    <p class="fs-6">Le mot de passe doit comporter au moins 8 caractères dont au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</p>

                    {# Affichage du recaptcha #}
                    <div class="form-group my-3">

                        {# La clé publique est récupérée en paramètre dans le fichier config/packages/twig.yaml #}
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                    </div>

                    {# Bouton de validation #}
                    <div class="text-center">{{ form_row( registrationForm.save)  }}</div>

                {# Fermeture du formulaire #}
                {{ form_end(registrationForm) }}

            </div>

        </div>

    </div>


{% endblock %}


{% block stylesheets %}
    {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
