{% extends 'base.html.twig' %}

{% block title %}Initialisation de votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="class container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Initialiser votre mot de passe</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                Entrer votre email et nous vous enverrons un lien pour initialiser votre mot de passe.
                    </small>
                </div>

                <div class="text-center my-3">{{ form_row( requestForm.save)  }}</div>

                {{ form_end(requestForm) }}

            </div>
        </div>

    </div>

{% endblock %}
