{% extends 'base.html.twig' %}

{% block title %}Gestionnaire Administrateur{% endblock %}

{% block body %}

    <div class="row my-5">
        {# Titre principal de la page #}
        <h1 class="text-center fs-custom-1 text-decoration-underline">Gestionnaire Administrateur de {{ app.user.pseudo }}</h1>
    </div>

    <div class="container fs-5">
        <div class="col-8 offset-2">
            <ul class="list-unstyled admin-btn">
                <li><a class="fs-5 mx-2 btn btn-secondary" href="{{ path('admin_article_create') }}"><i class="pe-2 fas fa-feather-alt"></i>Ecrire un nouvel article</a></li>
                <li><a class="fs-5 mx-2 btn btn-secondary" href="{{ path('admin_category_gestion') }}"><i class="pe-2 fas fa-boxes"></i>Gestionnaire des catégories</a></li>
                <li><a class="fs-5 mx-2 btn btn-secondary" href="{{ path('admin_list_users', {'orderBy': 'createdAt', 'orderParam': 'ASC'}) }}"><i class="pe-2 fas fa-list"></i><i class="pe-2 fas fa-users"></i>Accéder à la liste des adhérents</a></li>
                <li><a class="fs-5 mx-2 btn btn-secondary" href="{{ path('admin_list_alert') }}"><i class="pe-2 fas fa-list"></i><i class="pe-2 fas fa-exclamation-triangle"></i>Accéder à la liste des alertes</a></li>
            </ul>

            </ul>
        </div>
    </div>

{% endblock %}
