{% extends 'base.html.twig' %}

{% block title %}Gérer mon compte{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 text-center my-5">
                {% if app.user.pseudo is not null %}
                    Gestion de {{ app.user.pseudo  }}
                {% else %}
                    Gestion de {{ app.user.firstName  }} {{ app.user.lastName }}
                {% endif %}
            </h1>
        </div>

        <div class="row">

            <div class="col-12 text-center">
                {# Lien allant vers la page de vue du profil #}
                <a href="{{ path('adherent_profil') }}" class="btn btn-primary w-25 text-white my-3 mx-3 fs-4">
                    <i class="fas fa-eye me-1"></i> Voir mon profil
                </a>

                {# Lien allant vers la page de mes alertes adhérent #}
                <a href="{{ path('adherent_alert') }}" class="btn btn-danger w-25 text-white my-3 mx-3 fs-4">
                    <i class="fas fa-edit me-1"></i> Mes alertes
                </a>

            </div>

        </div>

    </div>


{% endblock %}