{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row fs-4">

            <h1 class="col-12 text-center my-3 text-decoration-underline">Mon profil</h1>


            <table class="table offset-3 col-6 mt-5">
                <tbody>
                <tr>
                    <th>Pseudo</th>
                    {% if app.user.pseudo is null %}
                        <td><span class="text-secondary">(Aucun pseudo renseigné)</span></td>
                    {% else %}
                        <td>{{ app.user.pseudo }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ app.user.lastName }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ app.user.firstName }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    {% if app.user.phone is null %}
                        <td><span class="text-secondary">(Aucun numéro renseigné)</span></td>
                    {% else %}
                        <td>{{ app.user.phone }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th>Rôle</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>Administrateur</td>
                    {% elseif is_granted('ROLE_ADHERENT') %}
                        <td>Adhérent</td>
                    {% else %}
                        <td>Utilisateur</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Membre</th>
                    {% if app.user.isMember %}
                        <td>Oui</td>
                    {% else %}
                        <td>Non</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Vérifié</th>
                    {% if app.user.verified %}
                        <td>Oui</td>
                    {% else %}
                        <td>Non</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Compte créé le</th>
                    <td>{{ app.user.createdAt|date('d/m/Y') }}</td>
                </tr>
                </tbody>
            </table>

        </div>


        <div class="row">

            <div class="col-12 text-center">
                {# Lien allant vers la page de modification du profil #}
                <a href="{{ path('adherent_profil_update') }}" class="btn btn-warning w-25 text-dark my-3 mx-3 fs-4">
                    <i class="fas fa-edit me-1"></i> Modifier mon profil
                </a>

                {# Lien allant vers la page de modification du mot de passe #}
                <a href="{{ path('adherent_change_password') }}" class="btn btn-danger w-25 text-white my-3 mx-3 fs-4">
                    <i class="fas fa-edit me-1"></i> Modifier mon mot de passe
                </a>

            </div>

        </div>

    </div>


{% endblock %}



