{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row fs-4">

            <h1 class="col-12 text-center my-3">Mon profil</h1>
            <p>
            <div class="col-3 offset-3 text-center my-3">Pseudo</div>
            <div class="col-3 text-center my-3">{{ app.user.pseudo }}</div>
            </p>
            <p>
            <div class="col-3 offset-3 text-center my-3">Nom</div>
            <div class="col-3 text-center my-3">{{ app.user.lastName }}</div>
            </p>
            <div class="col-3 offset-3 text-center my-3">Prénom</div>
            <div class="col-3 text-center my-3">{{ app.user.firstName }}</div>
            </p>
            </p>
            <div class="col-3 offset-3 text-center my-3">Téléphone</div>
            <div class="col-3 text-center my-3">{{ app.user.phone }}</div>
            </p>
            </p>
            <div class="col-3 offset-3 text-center my-3">Email</div>
            <div class="col-3 text-center my-3">{{ app.user.email }}</div>
            </p>

        </div>


        <div class="row">

            <div class="col-12 text-center">
                {# Lien allant vers la page de modification du profil #}
                <a href="{{ path('adherent_profil_update') }}" class="btn btn-warning w-25 text-dark my-3 mx-3 fs-4">
                    <i class="fas fa-edit me-1"></i> Modifier mon profil
                </a>

                {# Lien allant vers la page de modification du mot de passe #}
                <a href="{{ path('adherent_change_password') }}" class="btn btn-danger w-25 text-white my-3 mx-3 fs-4">
                    <i class="fas fa-edit me-1"></i> Modifier mon mot de passe
                </a>

            </div>

        </div>

    </div>


{% endblock %}



