{# Variable twig contenant le nom de la route actuelle pour le menu #}
{% set route = app.request.attributes.get('_route') %}

{# Variable twig contenant le slug de la route actuelle #}
{% set slug = app.request.attributes.get('slug') %}

{# Import de la macro des breadcrumbs #}
{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/visibiliter.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles-slide.css') }}">
    {% block stylesheets %}{% endblock %}

    {# Bloc pour ajouter du css additionnel #}
    {% block css %}{% endblock %}

    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
</head>
<body>

{# DEBUT DU HEADER #}

{# ================================================================================================ #}

{#--------------------------------------------------------------------------------------------------#}

{#  DEBUT DE LA NAV "OFFICIELLE"  #}


<nav class="navbar navbar-expand-lg navbar-light vert justify-content-around">

    <div class="container-fluid ">
        <div class="d-flex flex-column align-items-center justify-content-center p-2">
            <img src="{{ asset('images/accueil/logo_hpb.jpg') }}" alt="logo" class="image-logo">
            <a class="navbar-brand text-black fw-bold fs-5" href="{{ path('home') }}">Accueil</a>
        </div>

        {#--------------------------------------------------------------------------------------------------#}

        {# DEBUT DU BANDEAU LATERALE #}

        <div id="sideNavigation" class="sidenav flex-md-column flex-row navbar-nav p-10 m-10 mx-10 justify-content-between col-12 col-md-2 ">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="nav-item m-10 p-10 mb-3 mx-auto bg-danger fw-bold fs-4 text-center" href="{{ path('adherent_alert_create') }}">Alerte inclusion</a>
            <li class="nav-item m-10 p-10 mb-3 mx-auto dropdown">
                <a class="nav-item m-10 p-10 mb-3 mx-auto fw-bold fs-4 text-center" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Meilleur contraste</a>
                <ul class="list-unstyled p-0 m-0 colors row ali " aria-labelledby="navbarDropdown">
                    {#  <li class="fw-bold"><button id="squareblue" class="square" onclick="ChangeStyleSheet('css/sty//le-blue.css')">Bleu</button></li>#}
                    <li class="fw-bold"><button class="bttn contra" data-color="blue">Bleu</button></li>
                    <li class="fw-bold"><button class="bttn contra" data-color="red"> Rouge</button></li>
                    <li class="fw-bold"><button class="bttn contra" data-color="black">Noir</button></li>
                    <li class="fw-bold"><button class="bttn contra" data-color="pink">Rose</button></li>
                    <li class="fw-bold"><button class="bttn contra" data-color="green">Vert</button></li>
                    <li class="fw-bold"><button class="bttn contra" data-color="orange">Orange</button></li>
                </ul>
            </li>

            {# <ul>
                    <a class="nav-item m-10 p-10 mb-3 mx-auto contra">meillieur contraste</a>
                    .colors
  button.btn(data-color="red") Switch to red
  button.btn(data-color="blue") Switch to blue
  button.btn(data-color="green") Switch to green
  button.btn(data-color="orange") Switch to orange
  button.btn(data-color="pink") Switch to pink
  button.btn(data-color="black") Switch to black




                </ul>#}
            <a class="nav-item m-10 p-10 mb-3 mx-auto fw-bold fs-4 text-center" href="#">Lecteur d'ecran</a>
            <a class="nav-item m-10 p-10 mb-3 mx-auto fw-bold fs-4 text-center" href="#">version simplifié</a>

        </div>

        <nav class="topnav">
            <a href="javascript:void(0)" onclick="openNav()">
                <svg width="30" height="30" id="icoOpen">
                    <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
                    <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
                    <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
                </svg>
            </a>
        </nav>

        {# FIN DU BANDEAU LATERALE #}


        {#--------------------------------------------------------------------------------------------------#}

        <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
            <ul class="navbar-nav col justify-content-evenly">
                <li class="nav-item blanc">
                        <a class="nav-link active mx-auto fw-bold fs-5" aria-current="page" href="
                        {{ path('article_list', {'slug': 'news' }) }}">News
                        </a>
                </li>
                <li class="nav-item blanc">
                    <a class="nav-link active mx-auto fw-bold fs-5" aria-current="page" href="
                        {{ path('article_list', {'slug': 'blog' }) }}">Blog
                    </a>
                </li>
                <li class="nav-item bg-danger">
                    <a class="nav-link active mx-auto text-white fw-bold fs-5" aria-current="page" href=" {{ path('adherent_alert_create') }}">Alerte Inclusion</a>
                </li>
                <li class="nav-item dropdown blanc">
                    <a class="nav-link dropdown-toggle mx-auto fw-bold fs-5" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rubriques</a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        {% for category in category_repo.findAll %}
                            <li class="fw-bold"><a class="dropdown-item" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if not app.user %}
                    <li class="nav-item blanc">
                        <a class="nav-link active mx-auto fw-bold fs-5" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown blanc">
                        <a class="nav-link dropdown-toggle mx-auto fw-bold fs-5" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mon Compte</a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        {% if app.user.roles[0] == "ROLE_ADMIN" %}
                            <li class="fw-bold blanc"><a class="dropdown-item" aria-current="page" href="{{ path('admin_gestion') }}">Administration</a></li>
                        {% endif %}
                            <li class="fw-bold blanc"><a class="dropdown-item" aria-current="page" href="{{ path('adherent_gestion') }}">Gérer mon compte</a></li>

                            <li class="fw-bold blanc"><a class="dropdown-item" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                    {#<li class="nav-item dropdown">
                            <li class="fw-bold"><a class="dropdown-item" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>

                            <li class="nav-item">
                                <a class="nav-link active mx-auto" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active mx-auto" aria-current="page" href="{{ path('adherent_gestion') }}">Adhérent</a>
                            </li>
                        </li>#}
                {% endif %}

            </ul>
        </div>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success blanc" type="submit">Search</button>
        </form>

    </div>


</nav>

{#  FIN DE LA NAV "OFFICIELLE"  #}

{#--------------------------------------------------------------------------------------------------#}

{#  DEBUT DU BREADCRUMBD - FIL D'ARIANE DES LIENS  #}

{% if route == 'category_gestion' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'text': 'Gestion des catégories'}
    ]) }}

{% elseif route == 'category_confirm_delete' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('admin_gestion'), 'text': 'Gestion administrateur'},
        {'url': url('admin_category_gestion'), 'text': 'Gestion des catégories'},
        {'text': 'Supprimer une catégorie'}
    ]) }}

{% elseif route == 'article_list' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'text': slug|capitalize},
    ]) }}

{% elseif route == 'article_view' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('article_list', {'slug': slug_category }), 'text': slug_category|capitalize},
        {'text': slug|capitalize}
    ]) }}

{% elseif route == 'admin_article_create' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('admin_gestion'), 'text': 'Gestion Administrateur'},
        {'text': 'Creer un article'}
    ]) }}

{% elseif route == 'app_register' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'text': 'Creer un compte'}
    ]) }}

{% elseif route == 'app_login' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'text': 'Se connecter'}
    ]) }}

{% elseif route == 'admin_gestion' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'text': 'Gestion Administrateur'}
    ]) }}

{% elseif route == 'admin_category_gestion' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('admin_gestion'), 'text': 'Gestion Administrateur'},
        {'text': 'Gestionnaire des catégories'}
    ]) }}

{% elseif route == 'admin_list_adherent' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('admin_gestion'), 'text': 'Gestion Administrateur'},
        {'text': 'Liste des adhérents'}
    ]) }}

{% elseif route == 'adherent_gestion' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'text': 'Gérer mon compte'}
    ]) }}

{% elseif route == 'adherent_profil' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('adherent_gestion'), 'text': 'Gérer mon compte'},
        {'text': 'Mon profil'}
    ]) }}

{% elseif route == 'adherent_profil_update' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('adherent_gestion'), 'text': 'Gérer mon compte'},
        {'url': url('adherent_profil'),'text': 'Mon profil'},
        {'text': 'Modifier mon profil'}
    ]) }}

{% elseif route == 'adherent_change_password' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('adherent_gestion'), 'text': 'Gérer mon compte'},
        {'url': url('adherent_profil'),'text': 'Mon profil'},
        {'text': 'Modifier mon mot de passe'}
    ]) }}

{% elseif route == 'adherent_alert' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('adherent_gestion'), 'text': 'Gérer mon compte'},
        {'text': 'Mes alertes'}
    ]) }}

{% elseif route == 'admin_alert_view' %}

    {{ breadcrumbs.render([
        {'url': url('home'), 'text': 'Accueil'},
        {'url': url('adherent_gestion'), 'text': 'Gérer mon compte'},
        {'url': url('adherent_alert'), 'text': 'Mes alertes'},
        {'text': slug|capitalize}
    ]) }}

{% else %}

    {{ breadcrumbs.render([
        {'text': 'Accueil'},
    ]) }}

{% endif %}

{#  FIN DU BREADCRUMB #}

{#--------------------------------------------------------------------------------------------------#}

{# Message flashs en cas de succès #}

{% if app.session.flashBag.has('success') %}
    <div class="container">
        <div class="row">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center col-8 offset-2 my-3 fw-bold" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

        </div>

    </div>
{% endif %}

{# Message flashs en cas d'erreur #}

{% if app.session.flashBag.has('error') %}
    <div class="container">
        <div class="row">

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger text-center col-8 offset-2 my-3 fw-bold" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

        </div>

    </div>
{% endif %}

{# Fin des Messages flashs en cas de succès #}

{# --------------------------------------------------------------------------------------------- #}

{# BODY #}

<div id="main">
{% block body %}{% endblock %}
</div>

{# FOOTER #}

<footer class="text-center vert" >
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">

                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="{{ asset('images/accueil/concert-bal.jpg') }}" class="image-footer">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="{{ asset('images/accueil/concert-bal.jpg') }}" class="image-footer"/>
                        <a href="#">
                            <div class="mask">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="{{ asset('images/accueil/concert-bal.jpg') }}" class="image-footer"/><a href="#">

                            <div class="mask">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="{{ asset('images/accueil/concert-bal.jpg') }}" class="image-footer"/>
                        <a href="#">

                            <div class="mask" ></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">

                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="{{ asset('images/accueil/concert-bal.jpg') }}" class="image-footer"/><a href="#">

                            <div class="mask">
                            </div>

                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="{{ asset('images/accueil/concert-bal.jpg') }}" class="image-footer"/><a href="#">

                            <div class="mask">

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 border" >
        © 2021 Copyright:
        <a href="#">TU COPIE PAS !!! HEAINNNN!!</a>
    </div>
    <!-- Copyright -->
    </footer>
{# Inclusion JS Bootstrap #}
<script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/essaicontraste1.js') }}"></script>

{# Bloc pour ajouter du js additionnel #}
{% block js %}{% endblock %}

</body>
</html>
