{# Variable twig contenant le nom de la route actuelle pour le menu #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}

    {# Bloc pour ajouter du css additionnel #}
    {% block css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{# HEADER #}

<nav class="navbar navbar-expand-lg navbar-light bg-success justify-content-around">
    <div class="container-fluid ">
        <div class="d-flex flex-column align-items-center justify-content-center p-2">
            <img src="logo HPB.jpg" alt="logo">
            <a class="navbar-brand text-white" href="{{ path('home') }}">Accueil</a>
        </div>
        <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
            <ul class="navbar-nav col justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link active text-white mx-auto" aria-current="page" href="#">News</a>
                </li>
                <li class="nav-item bg-danger">
                    <a class="nav-link active text-white mx-auto" aria-current="page" href="#">Alerte Inclusion</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white mx-auto" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rubriques</a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Blog</a></li>
                        <li><a class="dropdown-item" href="#">Documentation</a></li>
                        <li><a class="dropdown-item" href="#">Conseil d'Administration</a></li>
                        <li><a class="dropdown-item" href="#">Grande Dépendance</a></li>
                        <li><a class="dropdown-item" href="#">Vie Scolaire</a></li>
                        <li><a class="dropdown-item" href="#">Vie Professionnelle</a></li>
                        <li><a class="dropdown-item" href="#">Culture, Sport et Loisirs</a></li>
                        <li><a class="dropdown-item" href="#">Accessibilité</a></li>
                        <li><a class="dropdown-item" href="#">Handi-Acceuillance</a></li>
                        <li><a class="dropdown-item" href="#">Humour</a></li>
                        <li><a class="dropdown-item" href="#">Nos Amis</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white mx-auto" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                </li>
            </ul>
        </div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success text-white" type="submit">Search</button>
        </form>

    </div>
</nav>


{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

            {% for category in categories %}

                <li class="fw-bold"><a class="dropdown-item dropdown-choice" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                <li class="fw-bold"><a class="dropdown-item dropdown-choice" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                <li class="fw-bold"><a class="dropdown-item dropdown-choice" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                <li class="fw-bold"><a class="dropdown-item dropdown-choice" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>


            {% endfor %}

        </ul>
  </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="dropdown text-center">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="fs-4">Rubriques</p>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for category in categories %}
                <li class="fw-bold"><a class="dropdown-item dropdown-choice" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>

                <li class="fw-bold"><a class="dropdown-item dropdown-choice" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>

                <li class="fw-bold"><a class="dropdown-item dropdown-choice" href="{{ path('article_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>

            {% endfor %}
        </ul>
    </div>
    </nav> #}
{% block body %}{% endblock %}
<p> Mesdames, Messieurs, la nécessité de répondre à votre inquiétude journalière, que vous soyez jeunes ou âgés, interpelle le citoyen que je suis et nous oblige tous à aller de l'avant dans la voie d'un avenir s'orientant vers plus de progrès et plus de justice.
    Et ce n'est certainement pas vous, mes chers compatriotes, qui me contredirez si je vous dis que l'acuité des problèmes de la vie quotidienne doit prendre en compte les préoccupations de la population de base dans l'élaboration de solutions rapides correspondant aux grands axes sociaux prioritaires.
    Je reste fondamentalement persuadé que l'effort prioritaire en faveur du statut précaire des exclus interpelle le citoyen que je suis et nous oblige tous à aller de l'avant dans la voie d'une restructuration dans laquelle chacun pourra enfin retrouver sa dignité.
    Je tiens à vous dire ici ma détermination sans faille pour clamer haut et fort que l'aspiration plus que légitime de chacun au progrès social oblige à la prise en compte encore plus effective d'une restructuration dans laquelle chacun pourra enfin retrouver sa dignité.
    Par ailleurs, c'est en toute connaissance de cause que je peux affirmer aujourd'hui que le particularisme dû à notre histoire unique doit prendre en compte les préoccupations de la population de base dans l'élaboration d'un plan correspondant véritablement aux exigences légitimes de chacun.
</p>
{# FOOTER #}

<footer class="text-center text-white bg-success" >
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">

                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="" class="w-100"/><a href="#">
                            <div class="mask">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="" class="w-100"/>
                        <a href="#">
                            <div class="mask">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="" class="w-100"/><a href="#">

                            <div class="mask">

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="" class="w-100"/>
                        <a href="#">

                            <div class="mask" ></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">

                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                        <img src="" class="w-100"/><a href="#">

                            <div class="mask">
                            </div>

                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">

                        <img src="" class="w-100"/><a href="#">

                            <div class="mask">

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-success border" >
        © 2021 Copyright:
        <a class="text-white" href="#">TU COPIE PAS !!! HEAINNNN!!</a>
    </div>
    <!-- Copyright -->
</footer>
{# Inclusion JS Bootstrap #}
<script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>

{# Bloc pour ajouter du js additionnel #}
{% block js %}{% endblock %}
</body>
</html>
