{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="row my-3">
        <div class="col-12 text-center">
            <h1 class="border-3 border text-white bg-custom-green fw-bold">
                <i class="px-2 fas fa-{{ category.icon }}"></i>
                {{ category.name }}
            </h1>
        </div>
    </div>

    {# Liste des articles #}

    {% if (is_granted("ROLE_ADMIN")) and (articles.count != 0) %}
        <div class="row">
            <div class="col-12 text-center">
                <span class="fst-italic fs-3 text-secondary">Option administrateur : </span>
                <a class="fs-3 text-decoration-none"
                   href="{{ path('admin_article_create') }}">
                    Ecrire un nouvel article
                </a>
            </div>
        </div>
    {% endif %}

    {# Instanciation d'un 'set' pour une boîte d'aide si tous les articles sont cachés mais que l'utilisateur connecté n'est pas admin #}
    {% set hiddenButNotAdmin = false %}

    <div class="row">
        <div class="col-8 offset-2">

            <div class="list-articles">

                {# Boucle qui liste les articles, triés dans l'odre chronologique inverse (le plus récent en premier) #}
                {% for article in articles|sort|reverse %}

                    {% if article.hidden == false %}

                        <div class="card my-5">
                            <h2 class="p-3 bg-custom-green text-white fs-3">{{ article.title }}</h2>
                            <div class="card-body">
                                <p class="card-text fs-5">{{ article.content|excerpt(50) }}</p>

                                <div class="d-flex flex-row">
                                    {% if article.author.pseudo is not null %}
                                        <p>Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                                    {% else %}
                                        <p>Ecris par <span class="fw-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
                                    {% endif %}
                                    <p class="ms-auto">Le <span class="fw-bold">{{ article.createdAt|date('d/m/Y à H\\hi') }}</span></p>
                                </div>
                            </div>
                            <div class="card-footer d-flex flex-row justify-content-between">
                                <a href="{{ path('article_view', {'slug_category': category.slug ,'slug': article.slug }) }}">
                                    Voir l'article en détail
                                </a>
                                {% if is_granted("ROLE_ADMIN") %}

                                    <p class="text-secondary"><span class="fst-italic">Option administrateur :</span>
                                        <a class="text-decoration-none" href="{{ path('admin_article_hide', {'id': article.id, 'slug_category': category.slug, 'origin': route}) }}">
                                            Cacher cet article
                                        </a>
                                    </p>

                                {% endif %}
                            </div>
                        </div>

                    {% else %}

                        {# Affichage des articles cachés pour les administrateurs #}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="hidden-article my-4">
                                <a href="{{ path('admin_article_hide', {'id': article.id, 'origin': route, 'slug_category': article.category.slug}) }}"
                                   title="Cet article est caché. Cliquez ici pour le rendre visible">
                                    <i class="fas fa-eye-slash ps-3 fs-4"></i>
                                </a>
                                <p class="fs-5 my-2 p-3">Titre : <span class="fw-bold">{{ article.title }}</span></p>
                                {% if article.author.pseudo is not null %}
                                    <p class="my-2">Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                                {% else %}
                                    <p class="my-2">Ecris par <span class="fw-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
                                {% endif %}
                                <p class="my-2 p-3">Publié le <span class="fw-bold">{{ article.createdAt|date('d/m/Y à H\\hi') }}</span></p>
                                <a class="my-2 p-3 text-decoration-none" href="{{ path('article_view', {'slug': article.slug, 'slug_category': category.slug}) }}">Accéder à cet article en détail</a>
                                <a class="my-2 p-3 text-decoration-none" href="{{ path('admin_article_hide', {'id': article.id, 'slug_category': category.slug, 'origin': route}) }}">Rendre visible cet article</a>
                            </div>
                        {% else %}

                            {# Après instanciation, si des articles sont cachés ET qu'on n'est pas admin, attribue du html à ce 'set' pour la boîte d'aide #}
                            {% set hiddenButNotAdmin = true %}

                        {% endif %}

                    {% endif %}

                {% else %}

                        {# Boite d'aide de catégorie vide avec redirections, selon l'état de connection et le rôle #}
                        <div class="legend-adherent-list">
                            <p class="fs-3 fw-bold"><i class="fas fa-question-circle text-success me-2"></i>La catégorie {{ category.name }} ne contient aucun articles.</p>
                            {% if (is_granted("ROLE_ADMIN")) %}
                                <p class="fs-5">- <a class="text-decoration-none" href="{{ path('admin_article_create') }}">Ecrire un nouvel article</a></p>
                                <p class="fs-5">- Seuls les administrateurs peuvent écrire des articles.</p>
                            {% elseif (is_granted("ROLE_ADHERENT")) %}
                                <p class="fs-5">- Vous êtes connecté en tant qu'adhérent. Si possédez un compte administrateur et que vous souhaitez écrire un nouvel article, veuillez vous déconnecter, puis vous reconnecter en administrateur.
                                    <a class="text-decoration-none" href="{{ path('app_logout') }}">Se déconnecter</a>
                                </p>
                            {% else %}
                                <p class="fs-5">- Vous n'êtes pas connecté. Si possédez un compte administrateur et que vous souhaitez écrire un nouvel article, veuillez vous connecter en administrateur en cliquant ici :
                                    <a class="text-decoration-none" href="{{ path('app_login') }}">Se connecter</a>
                                </p>
                            {% endif %}
                                <p class="fs-5">- Sinon, veuillez prendre contact avec l'un des administrateur.</p>
                        </div>

                {% endfor %}

                {# Si des articles sont cachés et que l'utilisateur n'est pas administrateur pour les voir, affiche une boîte d'aide personnalisée #}
                {% if hiddenButNotAdmin == true %}
                    <div class="legend-adherent-list">
                        <p class="fs-3 fw-bold"><i class="fas fa-eye-slash text-secondary me-2"></i>La catégorie {{ category.name }} contient des articles cachés.</p>
                        <p class="fs-5">- Seuls les administrateurs peuvent les consulter les articles cachés.</p>
                        <p class="fs-5">- Si vous avez une réclamation d'article caché à faire, veuillez prendre contact avec l'un d'entre eux.</p>
                    </div>
                {% endif %}
                
            </div>

        </div>
    </div>

        <a href="{{ path('home') }}">Retourner à l'accueil</a>


    <script type="text/javascript" src="{{ asset('js/modifyFunctionTitleUnhide.js') }}"></script>

{% endblock %}
