{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="row my-3">
        <div class="col-12 text-center">
            <h1 class="border-3 border text-white bg-custom-green">{{ category.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2">

            <div class="list-articles">

                {% for article in articles %}

                    <div class="card my-5">
                        <h2 class="p-3 bg-custom-green text-white fs-2">{{ article.title }}</h2>
                        <div class="card-body">
                            <p class="card-text fs-4">{{ article.content }}</p>
                            <p>Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                            <p>Le {{ article.createdAt|date('d/m/Y à H\\hi') }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('article_view', {'slug': article.slug }) }}">Voir l'article en détail</a>
                        </div>
                    </div>

                {% else %}

                    <h2 style="color: #B0413E">Rien à afficher.</h2>

                {% endfor %}
            </div>

        </div>
    </div>

        <a href="{{ path('home') }}">Retourner à l'accueil</a>

        </div>
    </div>
{% endblock %}
