{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="row my-3">
        <div class="col-12 text-center">
            <h1 class="border-3 border text-white bg-custom-green fw-bold">{{ category.name }}</h1>
        </div>
    </div>

    {# Affichage de la liste des administrateurs dans la catégorie associée #}
    {% if slug == 'conseil-dadministration' %}

        <h1 class="text-center fw-bold">EN TRAVAUX</h1>

        {# Table des profils administrateurs #}
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    {% if is_granted("ROLE_ADMIN") %}
                        <th>Fonction occupée</th>
                        <th>Modifier le titre de la fonction</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {# Affichage des utilisateurs admin #}
                {% for user in users %}

                        <tr>
                            <td>{{ user['entity'].pseudo }}</td>
                            <td>{{ user['entity'].lastName }}</td>
                            <td>{{ user['entity'].firstName }}</td>
                            <td>{{ user['entity'].email }}</td>
                            <td>{{ user['entity'].phone }}</td>

                            {% if is_granted("ROLE_ADMIN") %}

                                {% if user['entity'].functionTitle %} {# Si l'utilisateur possède déjà une fonction, affiche un formulaire de modification #}

                                    <td class="fw-bold">
                                        {{ user['entity'].functionTitle }}
                                    </td>

                                    <td class="d-flex flex-row flex-nowrap">
                                        {# Function unhide de modifyFunctionTitleUnhide.js ayant pour paramètre l'id de l'user sélectionné #}
                                        <button class="btn btn-secondary mx-4" onclick="unhide({{ user['entity'].id }})">Modifier</button>

                                        {# Formulaire généré après un click, selon l'id de l'utilisateur #}
                                        {{ form_start(user['entityForm']) }}
                                        <div id="modifyFunctionTitleForm-{{ user['entity'].id }}" style="display: none" action="">
                                            {{ form_row(user['entityForm'].functionTitle, {
                                                attr: {'placeholder': (user['entity'].functionTitle) }
                                            }) }}
                                            {{ form_row(user['entityForm'].save, {
                                                attr: {'class' : 'btn btn-success mx-3'}
                                            }) }}
                                            {{ form_end(user['entityForm']) }}
                                        </div>
                                    </td>

                                {% else %}

                                    <td>
                                        {{ form_start(user['entityForm']) }}
                                        <div class="d-flex flex-row flex-nowrap">
                                            <p>{{ user['entity'].email }}</p>
                                            {{ form_row(user['entityForm'].functionTitle) }}
                                            {{ form_row(user['entityForm'].save, {
                                                attr: {'class' : 'btn btn-success mx-3'}
                                            }) }}
                                            {{ form_end(user['entityForm']) }}
                                        </div>
                                    </td>

                                {% endif %} {# endif : user.functionTitle #}

                            {% endif %} {# endif : is_granted("ROLE_ADMIN") #}

                        </tr>

                {% else %}
                    <tr>
                        <td colspan="8">Aucun administrateur enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    {# Général #}

    {% if is_granted("ROLE_ADMIN") %}
        <div class="row">
            <div class="col-12 text-center">
                <a class="fs-3 text-decoration-none"
                   href="{{ path('admin_article_create') }}">
                    Rédiger un nouvel article
                </a>
            </div>
        </div>
    {% endif %}

    {% set hiddenButNotAdmin = '' %}

    <div class="row">
        <div class="col-8 offset-2">

            <div class="list-articles">

                {# Boucle qui liste les articles, triés dans l'odre chronologique inverse (le plus récent en premier) #}
                {% for article in articles|sort|reverse %}

                    {% if article.hidden == false %}

                        <div class="card my-5">
                            <h2 class="p-3 bg-custom-green text-white fs-2">{{ article.title }}</h2>
                            <div class="card-body">
                                <p class="card-text fs-4">{{ article.content }}</p>

                                {% if article.author.pseudo is not null %}
                                    <p>Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                                {% else %}
                                    <p>Ecris par <span class="fw-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
                                {% endif %}

                                <p>Le {{ article.createdAt|date('d/m/Y à H\\hi') }}</p>
                            </div>
                            <div class="card-footer d-flex flex-row justify-content-between">
                                <a href="{{ path('article_view', {'slug_category': category.slug ,'slug': article.slug }) }}">
                                    Voir l'article en détail
                                </a>
                                {% if is_granted("ROLE_ADMIN") %}

                                    <p class="text-secondary"><span class="fst-italic">Option administrateur :</span>
                                        <a class="text-decoration-none" href="{{ path('admin_article_hide', {'id': article.id, 'slug_category': category.slug, 'origin': route}) }}">
                                            Cacher cet article
                                        </a>
                                    </p>

                                {% endif %}
                            </div>
                        </div>

                    {% else %}

                        {# Affichage des articles cachés pour les administrateurs #}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="hidden-article my-4">
                                <p class="fs-5 my-2 p-3">Titre : <span class="fw-bold">{{ article.title }}</span></p>
                                {% if article.author.pseudo is not null %}
                                    <p class="my-2">Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                                {% else %}
                                    <p class="my-2">Ecris par <span class="fw-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
                                {% endif %}
                                <p class="my-2 p-3">Publié le <span class="fw-bold">{{ article.createdAt|date('d/m/Y à H\\hi') }}</span></p>
                                <a class="my-2 p-3 text-decoration-none" href="{{ path('article_view', {'slug': article.slug, 'slug_category': category.slug}) }}">Accéder à cet article en détail</a>
                                <a class="my-2 p-3 text-decoration-none" href="{{ path('admin_article_hide', {'id': article.id, 'slug_category': category.slug, 'origin': route}) }}">Rendre visible cet article</a>
                            </div>
                        {% else %}

                            {% set hiddenButNotAdmin %}
                                {# Si tous les articles sont cachés et que l'utilisateur n'est pas administrateur pour les voir, affiche une boîte d'aide personnalisée #}
                                <div class="legend-adherent-list">
                                    <p class="fs-3 fw-bold"><i class="fas fa-eye-slash text-secondary me-2"></i>La catégorie {{ category.name }} contient des articles, mais ils sont tous cachés.</p>
                                    <p class="fs-5">- Seuls les administrateurs peuvent les consulter les articles cachés.</p>
                                    <p class="fs-5">- Si vous avez une réclamation d'article caché à faire, veuillez prendre contact avec l'un d'entre eux.</p>
                                </div>
                            {% endset %}

                        {% endif %}

                    {% endif %}

                    {{ hiddenButNotAdmin }}

                {% else %}

                        {# Boite d'aide de catégorie vide avec redirections, selon l'état de connection et le rôle #}
                        <div class="legend-adherent-list">
                            <p class="fs-3 fw-bold"><i class="fas fa-question-circle text-success me-2"></i>La catégorie {{ category.name }} ne contient aucun articles.</p>
                            {% if (is_granted("ROLE_ADMIN")) %}
                                <p class="fs-5">- <a class="text-decoration-none" href="{{ path('admin_article_create') }}">Ecrire un nouvel article</a></p>
                                <p class="fs-5">- Seuls les administrateurs peuvent écrire des articles.</p>
                            {% elseif (is_granted("ROLE_ADHERENT")) %}
                                <p class="fs-5">- Vous êtes connecté en tant qu'adhérent. Si possédez un compte administrateur et que vous souhaitez écrire un nouvel article, veuillez vous déconnecter, puis vous reconnecter en administrateur.
                                    <a class="text-decoration-none" href="{{ path('app_logout') }}">Se déconnecter</a>
                                </p>
                            {% else %}
                                <p class="fs-5">- Vous n'êtes pas connecté. Si possédez un compte administrateur et que vous souhaitez écrire un nouvel article, veuillez vous connecter en administrateur en cliquant ici :
                                    <a class="text-decoration-none" href="{{ path('app_login') }}">Se connecter</a>
                                </p>
                            {% endif %}
                                <p class="fs-5">- Sinon, veuillez prendre contact avec l'un des administrateur.</p>
                        </div>

                {% endfor %}
            </div>

        </div>
    </div>

        <a href="{{ path('home') }}">Retourner à l'accueil</a>

        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/modifyFunctionTitleUnhide.js') }}"></script>

{% endblock %}
