{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

    <div class="row my-3">
        <div class="col-12 text-center">
            <h1 class="border-3 border text-white bg-custom-green fw-bold">{{ category.name }}</h1>
        </div>
    </div>

    {# Affichage de la liste des administrateurs dans la catégorie associée #}
    {% if slug == 'conseil-dadministration' %}

        {# Table des profils administrateurs #}
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    {% if app.user.roles[0] == "ROLE_ADMIN" %}
                        <th>Fonction occupée</th>
                        <th>Modifier le titre de la fonction</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {# Affichage des utilisateurs #}
                {% for user in users %}
                    {% if user.roles[0] == "ROLE_ADMIN" %}

                        <tr>
                            <td>{{ user.pseudo }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>

                            {% if app.user.roles[0] == "ROLE_ADMIN" %}

                                {% if user.functionTitle %}

                                    <td class="fw-bold">
                                        {{ user.functionTitle }}
                                    </td>

                                    <td class="d-flex flex-row flex-nowrap">
                                        {# Function unhide de modifyFunctionTitleUnhide.js ayant pour paramètre l'id de l'user sélectionné #}
                                        <button class="btn btn-secondary mx-4" onclick="unhide({{ user.id }})">Modifier</button>

                                        {# Formulaire généré après un click, selon l'id de l'utilisateur #}
                                        <form id="modifyFunctionTitleForm-{{ user.id }}" class="mx-2" style="display: none" action="">

                                            <input type="text" placeholder="{{ user.functionTitle }}">
                                            <input class="btn btn-success" type="submit" value="Valider">
                                        </form>
                                    </td>

                                {% else %}

                                    <td>
                                        <div class="d-flex flex-row flex-nowrap">
                                            <form action="">
                                                <input type="text">
                                                <input class="btn btn-success" type="submit" value="Valider">
                                            </form>
                                        </div>
                                    </td>

                                {% endif %} {# endif : user.functionTitle #}

                            {% endif %} {# endif : app.user.roles[0] == "ROLE_ADMIN" #}

                        </tr>
                    {% endif %} {# endif : user.roles[0] == "ROLE_ADMIN" #}
                {% else %}
                    <tr>
                        <td colspan="8">Aucun adhérent enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-8 offset-2">

            <div class="list-articles">

                {# Boucle qui liste les articles, triés dans l'odre chronologique inverse (le plus récent en premier) #}
                {% for article in articles|sort|reverse %}

                    <div class="card my-5">
                        <h2 class="p-3 bg-custom-green text-white fs-2">{{ article.title }}</h2>
                        <div class="card-body">
                            <p class="card-text fs-4">{{ article.content }}</p>

                            {% if article.author.pseudo is not null %}
                                <p>Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                            {% else %}
                                <p>Ecris par <span class="fw-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
                            {% endif %}

                            <p>Le {{ article.createdAt|date('d/m/Y à H\\hi') }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('article_view', {'slug_category': category.slug ,'slug': article.slug }) }}">Voir l'article en détail</a>
                        </div>
                    </div>

                {% else %}

                    <h2 style="color: #B0413E">Rien à afficher.</h2>

                {% endfor %}
            </div>

        </div>
    </div>

        <a href="{{ path('home') }}">Retourner à l'accueil</a>

        </div>
    </div>

    <script type="text/javascript" src="{{ asset('js/modifyFunctionTitleUnhide.js') }}"></script>

{% endblock %}
