{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    {# Boîte d'aide afin d'expliquer aux administateur que l'article est caché, et ce que ça implique #}
    {% if (article.hidden) and (is_granted("ROLE_ADMIN")) %}
        <div class="legend-adherent-list">
            <p class="fs-3 fw-bold"><i class="fas fa-question-circle text-success me-2"></i>Cet article est caché</p>
            <p class="fs-5">- Un article caché est invisible aux utilisateurs qui ne sont pas administrateurs. Pour rendre cet article visible, veuillez cliquer sur le bouton correspondant en dessous de la description.</p>
            <p class="fs-5">- Également, cette fenêtre d'aide est rendu visible seulement pour les administrateurs.</p>
        </div>
    {% endif %}

    <div class="row my-4">
        <div class="col-8 offset-2">
            <h1 class="fs-2 fw-bold text-decoration-underline">{{ article.title }}</h1>
            <div class="my-4 p-3">
                <p class="fs-4 ">{{ article.content }}</p>

                    <div class="article-images">
                    {% for media in medias %}
                        {# La liste des photos associée à l'article est affichée ici #}
                        <img src="{{ asset( media.url )| imagine_filter('small_picture') }}" alt="">
                    {% endfor %}
                    </div>

                <div class="d-flex flex-row mt-5">
                {% if article.author.pseudo is not null %}
                    <p>Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                {% else %}
                    <p>Ecris par <span class="fw-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
                {% endif %}

                {% if article.updatedAt != article.createdAt %}
                    <p class="ms-auto">Modifié le <span class="fw-bold">{{ article.updatedAt|date('d/m/Y à H\\hi') }}</span></p>
                    <p class="ms-auto">Publié le <span class="fw-bold">{{ article.createdAt|date('d/m/Y à H\\hi') }}</span></p>
                {% else %}
                    <p class="ms-auto">Publié le <span class="fw-bold">{{ article.createdAt|date('d/m/Y à H\\hi') }}</span></p>
                {% endif %}
                </div>
            </div>
        </div>

        {# Section des boutons d'interaction #}
        <div class="col-8 offset-4">
            {% if article.author == app.user %}
                {# Bouton de modification de l'article #}
                <a class="btn btn-warning" href="{{ path('admin_article_edit', {'slug': article.slug, 'slug_category': slug_category}) }}">
                    <i class="fas fa-edit me-1"></i> Modifier
                </a>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") %}

                {% if article.hidden %}
                    {# Bouton pour rendre visible l'article #}
                    <a class="btn btn-secondary" href="{{ path('admin_article_hide', {'id': article.id, 'slug_category': slug_category, 'origin': route}) }}">
                        <i class="fas fa-eye text-white mx-1"></i> Rendre visible cet article
                    </a>
                {% else %}
                    <a class="btn btn-secondary" href="{{ path('admin_article_hide', {'id': article.id, 'slug_category': slug_category, 'origin': route }) }}">
                        <i class="fas fa-eye-slash text-white mx-1"></i> Cacher cet article
                    </a>
                {% endif %}

                {# Bouton de suppression de l'article #}
                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ainsi que tout les commentaires associés ?')" class="btn btn-danger" href="{{ path('admin_article_delete', {'slug_category': slug_category,'id': article.id, csrf_token: csrf_token('article_delete_' ~ article.id ) }) }}">
                    <i class="fas fa-trash-alt me-1"></i> Supprimer
                </a>

            {% endif %}
        </div>

    </div>

    {# Section commentaire des utilisateurs #}

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="headings mb-3">
                    <p class="fs-5">Commentaires({{ comments.count }})</p>
                </div>

                {% if is_granted("ROLE_ADHERENT") %}

                    {# Si l'auteur a un pseudo, il est affiché. Sinon, affiche son Nom et Prénom. #}
                    {% set commentAuthorName = '' %}
                    {% if app.user.pseudo is not null %}
                        {% set commentAuthorName %}
                            <span class="text-primary">{{ app.user.pseudo }}</span>
                        {% endset %}
                    {% else %}
                        {% set commentAuthorName %}
                            <span class="text-primary">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                        {% endset %}
                    {% endif %}

                    {# Formulaire d'ajout de commentaire #}
                    {{ form_start(form) }}

                    <label for="form_content">Poster un nouveau commentaire en tant que {{ commentAuthorName }}</label>

                    <div class="d-flex flex-row">
                        {{ form_row(form.content, {
                            attr: {
                                placeholder: 'Votre commentaire...',
                            },
                            row_attr: {
                                style: 'width: 85%;',
                            }
                        }) }}
                        <input type="submit" class="btn btn-success ms-auto h-100">

                    {{ form_end(form) }}
                    </div>

                {% endif %}

            {% for comment in comments|sort|reverse %}

                <div class="article-comments-card p-3 my-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center mb-2">
                            <span>
                                <small class="font-weight-bold text-primary">{{ comment.author.pseudo }}</small>
                                <small class="font-weight-bold">{{ comment.content }}</small>
                            </span>
                        </div>
                    </div>
                    <div class="article-comments-bottom mt-2">
                        <div class="d-flex flex-row">
                            {% if comment.author == app.user %}
                                <small class="pe-2 text-decoration-none text-secondary">
                                    <a class="text-decoration-none text-secondary" href="{{ path('adherent_comment_edit', {'id': comment.id, 'slug': comment.article.slug, 'slug_category': comment.article.category.slug}) }}">
                                        Modifier
                                    </a>
                                </small>
                            {% endif %}
                            {% if (comment.author == app.user) or (is_granted("ROLE_ADMIN")) %}
                                <small>
                                    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')"
                                       class="text-decoration-none text-secondary"
                                       href="{{ path('adherent_comment_delete', {'slug_category': slug_category,'id': comment.id, csrf_token: csrf_token('comment_delete_' ~ comment.id ) }) }}">
                                        Supprimer
                                    </a>
                                </small>
                            {% endif %}
                            <small class="ms-auto">Posté le <span class="fw-bold">{{ comment.createdAt|date('d/m/Y à H\\hi') }}</span></small>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}