{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="row my-2">
        <div class="col-8 offset-2">
            <h1 class="fs-2 fw-bold">{{ article.title }}</h1>
            <div class="bg-white my-4 p-3">
                <p class="fs-4 ">{{ article.content }}</p>

                    <div class="article-images">
                    {% for media in medias %}
                        {# La liste des photos associée à l'article est affichée ici #}
                        <img src="{{ asset( media.url )| imagine_filter('small_picture') }}" alt="">
                    {% endfor %}
                    </div>

                {% if article.author.pseudo is not null %}
                    <p>Ecris par <span class="fw-bold">{{ article.author.pseudo }}</span></p>
                {% else %}
                    <p>Ecris par <span class="fw-bold">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
                {% endif %}

                <p class="text-end">Le {{ article.createdAt|date('d/m/Y à H\\hi') }}</p>
            </div>
        </div>

        {% if article.author == app.user %}
        <div class="col-8 offset-5">
            {# Bouton de modification de l'article #}
            <a href="{{ path('admin_article_edit', {'slug': article.slug}) }}" class="bg-warning button-global text-decoration-none text-dark">
                <i class="fas fa-edit me-1"></i> Modifier
            </a>

            {# Bouton de suppression de l'article #}
            <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')" class="bg-danger button-global text-decoration-none text-dark" href="{{ path('admin_article_delete', {'id': article.id, csrf_token: csrf_token('article_delete_' ~ article.id ) }) }}">
                <i class="fas fa-trash-alt me-1"></i> Supprimer
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}